/* content CSS style */
/* GRAYSCALE HOVER CSS */
img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  z-index: -9999999999999999999999999px;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  z-index: -9999999999999999999999999px;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

@media (max-width: 768px) {
  .w3-modal-content {
    width: 500px;
  }

  .w3-modal {
    padding-top: 50px;
  }
}

/* 
  <script>
  scripts inside CSS style 
  </script>
*/
